/*/////////////////////////*/
/*    Table of Contents*/
/*    1. Global Styles*/
/*    2. Typography*/
/*    3. Layout*/
/*        3.1 Reusables*/
/*        3.2 Other*/
/*    4. Areas*/
/*        4.1 Header*/
/*        4.2 Introduction*/
/*        etc.*/
/*    5. Media Queries*/
/*///////////////////////!*/

/* ------------------------------- 1. Global Styles -------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');


* {
    margin: 0;
    box-sizing: border-box;

}

:root {
    --header-color: #4845E4;
    --purple-text: #5722CD;
    --main-text: #0C0C0C;
    --project-background: #F3F6F9;
    --buttons: #ED4385;
    --service-text: #7A7A7A;
    --lightpurple: #F2F0FF;


}

/* ------------------------------- 2. Typography ----------------------------------- */


header {
    font-family: 'Roboto', sans-serif;
    color: white;

}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;

}

.hello {
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 20px;
    color: var(--purple-text);

}

/*a:link {*/
/*    color: white;*/
/*    text-decoration: none;*/

.hello-contact {
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.text-rollingstone {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

}

h2 {
    font-family: 'Merriweather', serif;
}

.text-rollingstone, .text-variety, .text-worth p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.products h3 {
    font-family: 'Merriweather', serif;
    color: var(--purple-text);

}

.products p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

a:link {
    color: mediumpurple;
    text-decoration: none;
    text-transform: uppercase;

}

a: visited {
    color: mediumpurple;
    text-decoration: none;
    text-transform: uppercase;
}


/* ------------------------------- 3. Layout --------------------------------------- */
.button {
    background-color: var(--buttons);
    color: #fff;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.24);
    border-color: rgba(0, 0, 0, 0.0)
}


/* --------------- 3.1 Reusables ----------------------- */
.outer-container {
    border: solid black 5px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;


}

.inner-container {
    border: solid 5px pink;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 1200px;
    margin: 0 20px;

}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: rgb(2, 0, 36);
    background: linear-gradient(152deg, rgba(2, 0, 36, 1) 0%, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    position: relative;
}


.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 1200px;
    margin: 100px 0 100px 0;
    padding: 20px;
}

h1, h3, button {
    margin: 20px 0 20px 0;
}

/*.squiggle-stripe {*/
/*    position: absolute;*/
/*    left: 550px;*/
/*    top: 480px;*/


/* --------------- 4.2 Introduction ------------------- */

/*HELLO*/

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 200px 100px 200px;
    padding: 20px;
    border: solid black 4px;
    flex-shrink: 1;
    flex-grow: 0;
}

.hello p {
    padding: 5px;
    margin: 20px;
}

.hello-contact {
    margin: 20px;
}

/*ROLLING STONE*/
.rollingstone {
    background-color: var(--project-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid purple 4px;
    flex-shrink: 1;
    flex-grow: 0;
}

.squiggle-line {
    margin: 20px 0 20px 0;
    width: 50px;
}

.text-rollingstone {
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    border: solid blue 2px;
    display: flex;
    flex-direction: column;
    flex-basis: 280px;
    justify-content: center;


}

.text-rollingstone p {
    text-align: left;
    margin: 20px 0 20px 0;

}



.image-rollingstone img {
    width: 760px;
}

/*VARIETY*/
.variety {
    background-color: var(--project-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: solid blue 4px;
    flex-shrink: 1;
    flex-grow: 0;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

img {
    width: 100%;

}

.text-variety {
    border: solid mediumpurple 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 280px;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 20px;
}


.text-variety p {
    text-align: left;
    margin: 20px 0 20px 0;
}

/*WORTH*/

.worth {
    background-color: var(--project-background);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border: solid blue 4px;
    flex-shrink: 1;
    flex-grow: 0;
}

.text-worth {
    border: solid mediumpurple 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 280px;
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 20px;

}

.text-worth p {
    text-align: left;
    margin: 10px 0 10px 0;
}


/*PRODUCTS*/

.products {
    border: solid 2px crimson;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;



}

.webdesign {
    display: flex;
    flex-direction: column;
    border: blue 2px solid;
    flex-basis: 250px;
    margin: 40px 30px 40px 30px;
    padding: 20px;

}


.webdevelopment {
    display: flex;
    flex-direction: column;
    border: blue 2px solid;
    flex-basis: 250px;
    margin: 50px 30px 50px 30px;
    padding: 20px;

}

.ux {
    display: flex;
    flex-direction: column;
    border: blue 2px solid;
    flex-basis: 250px;
    margin: 50px 30px 50px 30px;
    padding: 20px;

}
.logobranding {
    display: flex;
    flex-direction: column;
    border: blue 2px solid;
    flex-basis: 250px;
    margin: 50px 30px 50px 30px;
    padding: 20px;

}

.seo {
    display: flex;
    flex-direction: column;
    border: blue 2px solid;
    flex-basis: 250px;
    margin: 50px 30px 50px 30px;
    padding: 20px;

}

.copywriting {
    display: flex;
    flex-direction: column;
    border: blue 2px solid;
    flex-basis: 250px;
    margin: 50px 30px 50px 30px;
    padding: 20px;
}

.webdesign img, .webdevelopment img, .ux img, .logobranding img, .seo img, .copywriting img {
    width: 50px;
}


/* ------------------------------- 5. Media Queries -------------------------------- */